* {
    font-family: 'Source Code Pro';
    font-weight: bolder;
    font-size: 11px;
}

window {
    margin: 4px;
    background-color: #111;
    border-radius: 5px;
}

#input {
    margin: 4px;
    color: #eee;
    border:none;
    background-color: #111;
}

#inner-box {
    margin: 4px;
    background-color: #111;
}

#outer-box {
    margin: 4px;
    background-color: #111;
}

#scroll {
    margin: 4px;
    background-color: #111;
}

#text {
    margin: 4px;
    background-color: #111;
}

#entry {
    border: none;
}

#entry:selected {
    margin: 4px;
    border: none;
    background-color: #111;
}