* {
    font-family: 'Source Code Pro';
    font-weight: bolder;
    font-size: 11px;
}

window#waybar {
    background-color: #111;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    border-radius: 1px;
    margin-bottom: 0;
    background: #666;
    transition: none;
}

#workspaces button {
    transition: none;
    color: #666;
    background: transparent;
    font-size: 13px;
}

#workspaces button.focused {
    color: #eee;
}

#network,
#cpu,
#disk,
#battery,
#backlight,
#idle_inhibitor,
#memory,
#pulseaudio,
#window,
#clock,
#bluetooth {
    margin: 3px;
    border-radius: 10px;
    transition: none;
    padding-left: 4px;
    padding-right: 4px;
    background-color: #111;
    color: #eee;
}

#workspaces {
    background-color: #111;
    margin-left: 1px;
}

#clock {
    margin-right: 20px;
}