! Base16 Material
! Scheme: Nate Peterson

#define base00 #263238
#define base01 #2e3c43
#define base02 #314549
#define base03 #546e7a
#define base04 #b2ccd6
#define base05 #eeffff
#define base06 #eeffff
#define base07 #ffffff
#define base08 #f07178
#define base09 #f78c6c
#define base0A #ffcb6b
#define base0B #c3e88d
#define base0C #89ddff
#define base0D #82aaff
#define base0E #c792ea
#define base0F #ff5370

*foreground:   base05
*background:   base00
*cursorColor:  base05

*color0:       base00
*color1:       base08
*color2:       base0B
*color3:       base0A
*color4:       base0D
*color5:       base0E
*color6:       base0C
*color7:       base05

*color8:       base03
*color9:       base08
*color10:      base0B
*color11:      base0A
*color12:      base0D
*color13:      base0E
*color14:      base0C
*color15:      base07

Xft.dpi: 96
Xft.antialias: true
Xft.rgba: rgb
Xft.hinting: true
Xft.hintstyle: hintslight

URxvt.depth: 32
URxvt.geometry: 90x30
URxvt.loginShell: true
URxvt.internalBorder: 20 
URxvt.lineSpace: 1 

URxvt.perl-ext-common: default,matcher,selection-to-clipboard
URxvt.url-launcher: /usr/bin/firefox-developer
URxvt.matcher.button: 1

URxvt.keysym.Control-Up: \033[1;5A
URxvt.keysym.Control-Down: \033[1;5B
URxvt.keysym.Control-Left: \033[1;5D
URxvt.keysym.Control-Right: \033[1;5C

URxvt*shading: 15
URxvt*saveLines: 12000

URxvt*font: xft:CascadiaCode:size=10:antialias=true,xft:DejaVuSansMono:size=9:antialias=true:hinting=true,xft:WenQuanYi Bitmap Song:pixelsize=12:antialias=false

URxvt*letterSpace: 0 
URxvt*scrollBar: false 
URxvt*scrollBar_right: false
URxvt*scrollstyle: plain
